html,body {height:100%}
#monacoEditor {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #F8F8F8;
}

/*Header*/
header {
  font-family: sans-serif;
  color: white;
  background-color: #4A8246;
  padding: 20px;
  margin: 0px;
  text-alignment: left;
}
.title {
  font-size: 24pt;
  font-weight: bold;
  color: white;
}
.title:link {
  color: white;
}
.title:visited {
  color: white;
}
.profileicon {
  vertical-align: middle;
}
.usermenu {
  font-size: 16pt;
  position: relative;
  display: inline-block;
  float: right;
  right: 10px;
  padding: 5px;
}
.dropdown {
  font-size: 12pt;
  text-align: right;
  display: none;
  position: absolute;
  right: 0px;
  background-color: #AAAAAA;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.usermenu:hover .dropdown {
  display: block;
}
.dropdownlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.dropdownlist li a {
  display: block;
  padding: 5px 10px;
  color: white;
}
.dropdownlist li a:hover {
  background-color: #888888;
  cursor: pointer;
}

/*General*/
h1 {
  font-family: sans-serif;
  font-size: 18pt;
}
h2 {
  font-family: sans-serif;
  font-size: 14pt;
}
a {
  font-family: sans-serif;
  text-decoration:none;
}
a:link {
  color: #4A8246;
  text-decoration: none;
}
a:visited {
  color: #4A8246;
  text-decoration: none;
}
textarea {
  resize: none;
  margin-bottom: 5px;
}
button:hover {
  cursor: pointer;
  border: 2px solid lightgrey;
}

#homebutton {
  background-color: #F8F8F8; /*#4A8246;*/
  color: #888888;
  font-family: sans-serif;
  font-size: 11pt;
  border-radius: 5px;
  border: 2px solid #F8F8F8;
  padding: 10px;
  margin-top: 10px;
}
#homebutton:before {
  content: '\2190 \0020';
}

/*Coding Task*/
#taskDescription {
  font-family: sans-serif;
}
#evaluation {
  font-family: sans-serif;
}
.middleOfBrowser{
    width=40%;
    text-align:center;
    left: 50%;
    top: 30%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#submit {
  background-color: #4A8246; /* Green */
  border: 1px;
  color: white;
  margin-top: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 5px;
}

/*Login*/
input[type=text], input[type=password] {
  margin-bottom: 5px;
}
input[type=submit]{
  background-color: #4A8246;
  color: white;
  border-radius: 3px;
  border: 2px solid #4A8246;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 7px;
}
input[type=submit]:hover {
  cursor: pointer;
}
#registrationlink {
  font-family: sans-serif;
  font-size: 10pt;
}
#loginerror {
  font-family: sans-serif;
  color: darkred;
  margin-bottom: 10px;
}
#logout {
  font-family: sans-serif;
}

/*Homepage*/
.taskboxes {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.taskname {
  font-size: 14pt;
  font-weight: bold;
}
.boxdescription {
  font-size: 11pt;
  height: 60px;
}
.status {
  font-size: 11pt;
  vertical-align: bottom;
}
.taskbutton {
  background-color: white;
  margin: 10px;
  padding: 10px;
  text-align: left;
  width: 180px;
  border: 2px solid grey;
  border-radius: 10px;
}
.taskbuttonnew {
  background-color: white;
  margin: 10px;
  padding-bottom: 20px;
  text-align: center;
  width: 180px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 60pt;
  color: grey;
}

/*Logout*/
#header {
  font-family: sans-serif;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}
#menu {
  font-family: sans-serif;
  text-align: center;
}
#backtologin:link {
  color: #4A8246;
  text-decoration: none;
}
#backtologin:visited {
  color: #4A8246;
  text-decoration: none;
}

/*create/ edit Task*/
label {
  font-family: sans-serif;
  font-size: 11pt;
}
#createtaskform {
  margin: 15px 5px 5px 5px;
}
#createtaskform input[type="text"] {
  width: 50%;
  margin-bottom: 10px;
}
#description {
  width: 50%;
  height: 100px;
}
#code {
  width: 50%;
  height: 200px;
}
.tipcontainer {
  display: inline-block;
  width: 48%;
  text-align: right;
}
.tip {
  font-size: 10pt;
  color: grey;
  border: solid 2px grey;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
  height: 10pt;
  width: 10pt;
  position: relative;
}
.tip .tiptext {
  visibility: hidden;
  width: 150px;
  background-color: darkgrey;
  color: white;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -120%;
  left: 150%;
}
.tip .tiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent darkgrey transparent transparent;
}
.tip:hover .tiptext {
  visibility: visible;
}
#test {
  width: 50%;
}
#createbutton {
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 5px;
}