<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="mystyle.css">
    <title>Login</title>
</head>
<body>
<header>
    <div class="title">YeetCode</div>
</header>
<div class="middleOfBrowser">
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <div id="loginerror" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div id="logout" th:if="${param.logout}">
            You have been logged out.
        </div>
        <div><input type="text" placeholder="Username" name="username"/></div>
        <div><input type="password" placeholder="Password" name="password"/></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    <div id="registrationlink">Not a member? <a href="/registration">Register here!</a></div>
</div>
</body>
</html>