<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <style>
.middleOfBrowser{
    width=40%;
    text-align:center;
    left: 50%;
    top: 30%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
    </style>
</head>
<body>
<div class="middleOfBrowser">
    <h2>Registration!</h2>
    <form th:action="@{/registration}" method="post">
        <div th:if="${userAlreadyExists}">
            This user already exists.
        </div>
        <div><input required type="text" placeholder="Username" name="username"/></div>
        <div><input required type="password" placeholder="Password" name="password"/></div>
        <div><input type="submit" value="Sign Up"/></div>
    </form>
</div>
</body>
</html>